<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/carros']"  class="navbar-brand">Carros Manager</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- routerlinkActive é uma diretiva do angular para ativar classes de css, no caso abaixo 'active' = class do bootstrap para ativar brilho do link -->
                <a [routerLink]="['/carro/new']" routerLinkActive="active"class="nav-link">Novo Veiculo</a>
            </li>
        </ul>
    </div>
</nav>