<h5>Carros Disponiveis</h5>

<div class="form-group row">
    <div class="col-sm-12">
        <input type="text" [(ngModel)]="filter" placeholder="Pesquise por modelo, marca ou ano" class="form-control mb-3">
    </div>
</div>


<table class="table table-striped">
    <thead>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano</th>
        <th>Placa</th>
        <th>Valor</th>
        <th>Editar</th>
    </thead>
    <tbody>
        <tr *ngFor="let carro of filteredCarros">
          
            <td>{{carro.marca}}</td>
            <td>{{carro.modelo}}</td>
            <td>{{carro.ano}}</td>
            <td>{{carro.placa}}</td>
            <td>{{carro.valor}}</td>
            <td>
                <a [routerLink]="['/carros/info', carro.id]" class="btn btn-primary me-2">Edit</a>
                <button (click)="deleteById(carro.id)"  class="btn btn-danger">Delete</button>
            </td>

        </tr>
    </tbody>



</table>